@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Orbitron";
}

.neon-text {
  color: #f1f1f1;
  text-shadow: 0 0 5px #bc13fe, 0 0 10px #bc13fe, 0 0 15px #bc13fe,
    0 0 20px #bc13fe;
}

.neon-text-subtle {
  color: #f1f1f1;
  text-shadow: 0 0 5px #bc13fe, 0 0 10px #bc13fe;
}

.neon-border {
  box-shadow: 0 0 5px #bc13fe, 0 0 10px #bc13fe;
}

.neon {
  color: #bc13fe;
}

dialog[open] {
  scale: 1;
  transition: scale 0.3s ease;

  @starting-style {
    scale: 0;
  }
}

.main{
  height: calc(100vh - 56px);
}

